@model NET_Mom2.Models.Horses; 
@{
    ViewData["Title"] = "Dina hästar";
}

<h2>Dina hästar</h2>

<p>Här kan du lagra information om dina hästar!</p>

<h2>Lägg till häst</h2>
<!-- Formulär för att lägga till hästar -->
<form method="post" id="horse-form">

    <div class="form-box">
        <label asp-for="HorseName">Namn:</label><br />
        <input type="text" name="HorseName" id="HorseName"><br />
    </div>

    <div class="form-box">
        <label asp-for="HorseNickname">Smeknamn:</label><br />
        <input type="text" name="HorseNickname" id="HorseNickname">
    </div>

    <div class="form-box">
        <label asp-for="HorseGender">Kön:</label><br />
        <select name="HorseGender" id="HorseGender">
            <option value="Sto">Sto</option>
            <option value="Hingst">Hingst</option>
            <option value="Valack">Valack</option>
        </select><br />
    </div>

    <div class="form-box">
        <label asp-for="HorseBreed">Ras:</label><br />
        <input type="text" name="HorseBreed" id="HorseBreed">
    </div>

    <div class="form-box">
        <label asp-for="HorseLevel">Level:</label><br />
        <input type="number" name="HorseLevel" id="HorseLevel">
    </div>

    <div class="form-box submit-btn">
        <input type="submit" value="Lägg till">
    </div>

</form><br />